{% extends "base.html" %}

{% block content %}
  <h1>Add Post</h1>
  <form action="/add_post" method = "POST">
      {{ form.hidden_tag() }}
    <!-- {{ form.hidden_tag() }} -->
  <!-- {{ form.csrf_token }} -->

    <p>
      <!-- {{ form.username.label }}<br> -->
      <!-- {{ form.username(size=32) }}<br> -->
      <p>{{ current_user.username }} What you want write for today:</p>
      {% for error in form.username.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.body.label }}<br>
      {{ form.body(cols=50, rows=4) }}<br>
      {% for error in form.body.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>{{ form.submit }}</p>
  </form>
{% endblock %}
